---
import { Prism } from '@astrojs/prism';
---

<!DOCTYPE html>
<html>
    <head>
        <link href="./prism.css" rel="stylesheet" />
    </head>
    <body>
        <Prism lang="js" code={`const foo = 'bar';`} />
    </body>
</html>